{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <script src="js/jquery-3.4.1.js"></script>
        <script src="js/js.js"></script>
    </head>
        <body>
        <div>
            <section class="form_wrap">
                <section class="cantact_info">
                    <section class="info_title">
                        <span class="fa fa-user-circle"></span>
                        <h2>INFORMACION<br>DE CONTACTO</h2>
                    </section>
                    <section class="info_items">
                        <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                        <p><span class="fa fa-mobile"></span> +1(585) 902-8665</p>
                    </section>
                </section>

                <form action="" class="form_contact">
                    <h2>Registro de Usuario</h2>
                    <div class="user_info">
                        <label for="names">Nombre/Apellido </label>
                        <input type="text" id="names">

                        <label for="phone">Telefono / Celular</label>
                        <input type="text" id="phone">

                        <label for="email">Correo electronico </label>
                        <input type="text" id="email">

                        <label for="Provincia">Provincia</label>
                        <input type="text" id="Provincia">

                        <label for="Localidad">Localidad</label>
                        <!--textarea id="domicilio"></textarea-->
                        <input type="text" id="Localidad">


                        <input type="button" value="Enviar Registro" id="btnSend">
                    </div>
                </form>
            </section>
        </div>
        </body>
    </html>
{% endblock %}	